.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h3 {
  font-size: 40px;
  text-transform: uppercase;
}

button {
  border: 2px solid #4CAF50; /* Green */
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  margin: 20px;
  padding: 30px;
  transition-duration: 0.4s;
}

.clearfix {
  content: "";
  clear: both;
  display: table;  
}

button:hover {
  cursor: pointer;
  background-color: #4CAF50;
  color: #fff;
}

.show {
  margin: 0 auto;
  width: 30%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show div {
  border: 2px solid blueviolet;
  padding: 10px;

  border-radius: 5px;
  background-color: #fff;
  color: #000;
  margin: 20px;
  padding: 30px;
  transition-duration: 0.4s;
}

.show div:hover {
  cursor: pointer;
  background-color: blueviolet;
  color: #fff;  
}

.total {
  margin: 0 auto;
  width: 30%;
  border: 2px solid red;
  padding: 10px;

  border-radius: 5px;
  background-color: #fff;
  color: #000;
  padding: 30px;
  transition-duration: 0.4s;  
}
